/********************
IMPORTS
*******************/


@import url('reset.css');
@import url('accessibility.css');
@import url('card-styles.css');


/********************
YOUR STYLES
*******************/

/* Body Styling */

body {
    background: #EDEEEF;
    
}



/* New BG Color */

.lg-backdrop {
    background: #2d2d2d;
    opacity: .6;
}



/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 75em) {

}

/* Tablet */
@media (min-width: 48em) {

}

/* Mobile */
@media (min-width: 30em) {

}